---
import { HomeMarquees } from "../../constants/Marquee";
import Container from "./Container.astro";
---

<Container class="relative max-w-[84rem] w-dvw py-10 overflow-hidden">
    <div
        class="absolute z-20 h-full w-full top-0 bg-radial from-20% from-transparent to-80% to-background"
    >
    </div>
    <div
        class="flex gap-8 overflow-hidden py-5 border-y-1 border-primary"
        id="marquee"
    >
        {
            Array(3)
                .fill(0)
                .map((_, i) => (
                    <div
                        class="flex z-10 gap-8 justify-around shrink-0 -translate-x-[30%] motion-safe:animate-marquee-left"
                        aria-hidden={i == 0 ? "false" : "true"}
                    >
                        {HomeMarquees.map((marquee) => (
                            <div class="flex justify-center items-center gap-8">
                                <div class="size-4 border-4 rounded  rotate-45" />
                                <p class="text-5xl font-ubuntu font-medium bg-transparent ">
                                    {marquee}
                                </p>
                            </div>
                        ))}
                    </div>
                ))
        }
    </div>
</Container>
<script>
    import { animate, inView } from "motion";

    inView("#marquee", (element) => {
        animate(
            element,
            { opacity: [0, 1] },
            {
                duration: 0.9,
                easing: [0.17, 0.55, 0.55, 1],
            },
        );

        return () => animate(element, { opacity: 0 });
    });
</script>
