<div class="flex flex-col gap-5 px-10 py-15 bg-card/95 border-2 border-accent rounded-xl backdrop-blur-2xl">
    <div class="flex flex-col gap-3">
        <label for="name" class="font-medium font-ubuntu uppercase text-gray-200">Your Name</label>
        <input id="name" type="text" placeholder="Your Name" class="p-3 rounded-lg border-gray-300 ring ring-gray-200 border-0 focus-visible:outline-1 focus-visible:outline-primary focus:ring-primary focus-visible:ring-offset-1 placeholder:text-gray-500 placeholder:text-lg transition-colors duration-300"  required />
    </div>
    <div class="flex flex-col gap-3">
        <label for="email" class="font-medium font-ubuntu uppercase text-gray-200">Your Email</label>
        <input id="email"  type="text" placeholder="Your Email" class="p-3 rounded-lg border-gray-300 ring ring-gray-200 border-0 focus-visible:outline-1 focus-visible:outline-primary focus:ring-primary focus-visible:ring-offset-1 placeholder:text-gray-500 placeholder:text-lg transition-colors duration-300"  required />
    </div>
    <div class="flex flex-col gap-3">
        <label for="message" class="font-medium font-ubuntu uppercase text-gray-200">Your Message</label>
        <textarea aria-multiline={true}     rows="4"  placeholder="Your Message"  class="p-3 rounded-lg border-gray-300 ring ring-gray-200 border-0 focus-visible:outline-1 focus-visible:outline-primary focus:ring-primary focus-visible:ring-offset-1 placeholder:text-gray-500 placeholder:text-lg transition-colors duration-300" required  />
    </div>
    <a href="#" class="py-3 px-6 bg-primary w-fit rounded-lg text-lg font-medium hover:bg-primary/80 transition-colors duration-300">Get a Quote</a>
</div>